*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  background-color: dodgerblue;
  color: yellow;
}

section {
  text-align: right
}