*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(255, 190, 220);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  background-color: dodgerblue;
  color: yellow;
}

.text-next-to-img {
  display: grid;
  grid-template-columns: 70% auto;
  gap: 1rem;
}

.text-next-to-img > .text {
  border: 1px solid lightgray;
  padding: 1rem 2rem;
}

.text-next-to-img > img {
  width: 100%;
}

.spread {
  transition: all 1s ease-in-out;
}
.spread:hover {
  letter-spacing: 1rem;
}

.väder {
  transform: rotate(20deg);
}

.scale {
  animation: scale-anim 1s both ease-in-out infinite alternate;
}

@keyframes scale-anim {
  from {transform: scale(1)}
  to {transform: scale(1.5) translateX(25%);}
}

.kundskaper {
  transform: rotate(180deg); 
}